.section-top {
  background-color: #E5F3F2;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  height: 40%;
  position: absolute;
  width: 100%;
}

.title {
  color: #00A79D;
  font-size: 56px;
  margin: 3% auto;
  text-align: center;
}

.box {
  color: #6D6E71;
}

.user-input {
  text-align: center;
}

.input-title,
.input-body,
.search-input {
  border: 2px solid #D6D7D9;
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  margin: .5% auto;
  width: 50%;
}

.input-title::placeholder,
.input-body::placeholder,
.search-input::placeholder {
  color: #D6D7D9;
} 

.input-body {
  height: 35px;
  resize: none;
}

.save-idea {
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 26px;
  height: 10%;
  margin: .5%;
  width: 50.5%;
}

.save-idea:hover {
  background-color: #045E55;
}

.save-idea:disabled {
  background-color: #6D6E71;
}

.section-search {
  height: 10%;
  position: absolute;
  top: 38%;
  width: 100%;
}

.section-bottom{
  font-family: 'Open Sans', sans-serif;
  height: 57%;
  overflow: scroll;
  position: absolute;
  top: 49%;
  width: 100%;
}

.search {
  margin: 3%;
  text-align: center;
}

.search-input {
  width: 53%;
}

.idea-card {
  border-bottom: 1px solid #D1D3D4;
  margin: 2% auto;
  width: 50%;
}

.idea-title {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700;
}

.idea-card button {
  border-color: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.delete-idea {
  background-image: url(FEE-ideabox-icon-assets/delete.svg);
  float: right;
}

.delete-idea:hover {
  background-image: url(FEE-ideabox-icon-assets/delete-hover.svg);
}

.delete-idea:focus {
  outline: none;
}

.idea-content {
  color: #939598;
  margin-top: 2%;
}

.up-vote {
  background-image: url(FEE-ideabox-icon-assets/upvote.svg);
}

.up-vote:hover {
  background-image: url(FEE-ideabox-icon-assets/upvote-hover.svg);
}

.up-vote:focus {
  outline: none;
}

.down-vote {
  background-image: url(FEE-ideabox-icon-assets/downvote.svg);
  margin-left: 10px;
}

.down-vote:hover {
  background-image: url(FEE-ideabox-icon-assets/downvote-hover.svg);
}

.down-vote:focus {
  outline: none;
}

.idea-quality {
  color: #6D6E71;
  display: inline-block;
  margin-bottom: 6%;
  margin-left: 10px;
  margin-top: 4%;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 38px;
  }

  .input-title,
  .input-body,
  .search-input {
    font-size: 20px;
    margin: 1.5% auto;
    width: 80%;
  }

  .save-idea {
    width: 82%
  }

  .input-body {
    height: 82px;
  }

  .section-search {
    top: 41%;
  }

  .search-input {
    width: 84%;
  }

  .idea-card {
    margin: 4% auto;
    width: 80%;
  }

  .idea-card button {
    height: 18px;
    width: 18px;
  }

  .idea-title {
    font-size: 24px;
  }

  .idea-content {
    margin-top: 4%;
  }

  .idea-quality {
    margin-bottom: 7%;
    margin-top: 8%;
  }
}

